h1 {
  text-align: center;
  font-family: fantasy;
  font-weight: 100;
  margin: 0;
  color: #2c5d63;
}
h2 {
  text-align: center;
  font-style: italic;
  color: #c37857;
  margin-block-start: 0.63em;
  margin-block-end: 0.63em;
}
body {
  background: linear-gradient(#a8dadd, #e7cfe6);
}
img {
  display: block;
  margin: 0 auto;
}
p {
  text-align: justify;
}
ul {
  list-style-type: circle;
}
button {
  display: block;
  margin: 15px auto;
  border: 2px solid #076666;
  background: #f4f6f7;
  color: #076666;
  font-size: 14px;
  line-height: 18px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(137, 180, 180, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}
button:hover {
  background: #add9dd;
  color: #c37857;
  border: 2px solid #48d7f0;
}
.quote {
  text-align: center;
  color: #2c5d63;
}
.coder {
  text-align: center;
}
